<%- include('../includes/start.ejs') %>

<link rel="stylesheet" href="/css/login.css" />
<%- include('../includes/navigation.ejs') %>

<main>
    <% if (errorMessage) { %>
    <div class="user-message error-message"><%= errorMessage %></div>
    <% } %>
    <form action="/reset" method="POST" class="form-container">
        <div class="form-control">
            <label class="label-text" for="email">email:</label>
            <input type="text" name="email" class="form-input" />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit" class="submit-button">
            SEND MAIL
        </button>
    </form>
</main>
<%- include('../includes/end.ejs') %>
