<%- include('../includes/start.ejs') %>

<link rel="stylesheet" href="/css/login.css" />
<%- include('../includes/navigation.ejs') %>

<main>
    <% if (errorMessage) { %>
    <div class="user-message error-message"><%= errorMessage %></div>
    <% } %>
    <form action="/set-password" method="POST" class="form-container">
        <div class="form-control">
            <label class="label-text" for="imageUrl">password:</label>
            <input type="password" name="password" class="form-input" />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" name="userId" value="<%= userId %>" />
        <input type="hidden" name="resetToken" value="<%= resetToken %>" />
        <button type="submit" class="submit-button">
            SET PASSWORD
        </button>
    </form>
</main>
<%- include('../includes/end.ejs') %>
