<div class="pagination">
    <% if (currentPage !== 1 && previousPage !== 1) { %>
        <a href="?page=1" class="pagination-tiles">1</a>
    <% } %>
    <% if (hasPreviousPage) { %>
        <a href="?page=<%=previousPage %>" class="pagination-tiles previous"><%=previousPage %></a>
    <% } %>
        <a href="?page=<%= currentPage %>" class="pagination-tiles active"><%= currentPage %></a>
    <% if (hasNextPage) { %>
        <a href="?page=<%=nextPage %>" class="pagination-tiles next"><%=nextPage %></a>
    <% } %>
    <% if (currentPage !== lastPage && nextPage !== lastPage) { %>
        <a href="?page=<%=lastPage %>" class="pagination-tiles last"><%=lastPage %></a>
    <% } %>
</div>